<nav class="menu" *ngIf="mostrarMenu">
  <div class="main-menu">
    <li
      class="item-menu"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="link" routerLink="">Home</a>
    </li>
    <li class="item-menu" routerLinkActive="active">
      <a class="link" routerLink="/cursos">Cursos</a>
    </li>
    <li class="item-menu" routerLinkActive="active">
      <a class="link" routerLink="/alunos">Alunos</a>
    </li>
  </div>
  <li class="item-menu" routerLinkActive="active">
    <a class="link" routerLink="/login">Login</a>
  </li>
</nav>
