.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


  ul{
  min-width: 400px;
  max-width: 800px;
}

li{
  list-style: none;
  padding: 1rem;
  border: 1px solid #ccc;
}

a{
  text-decoration: none;
}
